@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* -----------Header Css Start Here ---------------- */
header {
    position: absolute;
    left: 0;
    right: 0;
}
.container{
    width: 1200px;
    margin: auto;
}
#hero{
    background-image: url("img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.nav-link  {
    display: flex;
    align-items: center;
}

ul.nav-list {
    display: flex;
    margin-right: 40px;
}

.nav-item a {
    font-size: 20px;
    color: white;
    margin: 0 25px;
}
.nav-button{
    padding: 10px 38px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}
/* -----------Banner Css End Here ---------------- */

/* -----------Banner Css Start Here ---------------- */
.banner-inner-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 50%;
}

.content h1 {
    color: white;
    font-size: 49px;
    font-weight: 400;
}

.content {padding: 75px 0px;}

.content p {
    color: #ffff;
    font-size: 16px;
    padding: 20px 0;
}
.banner-image {
    width: 50%;
}

/* -----------Banner Css End Here ---------------- */